/* .plane-icon {
  height: 16px;
  width: 16px;
  background-size: 16px 16px;
  background-image: url('plane.png');
}

.plane-label {
  font-size: 12px;
  font-weight: bold;
  font-family: 'Space Mono', monospace;
  color: #ff4438;
  background-color: #fff;
  padding: 2px 8px;
  border-radius: 2px;
  border: 1px solid #091a23;
} */
